# Import Libraries and Upload Data Files

In [1]:
# import libraries
import pandas as pd 
import numpy as np

In [2]:
# load all csv tables 
Content = pd.read_csv("Content.csv", index_col=0)
Location = pd.read_csv("Location.csv", index_col=0)
Profile = pd.read_csv("Profile.csv", index_col=0)
ReactionTypes = pd.read_csv("ReactionTypes.csv", index_col=0)
Reactions = pd.read_csv("Reactions.csv", index_col=0, parse_dates=['Datetime'])
Session = pd.read_csv("Session.csv", index_col=0)
User = pd.read_csv("User.csv", index_col=0)

# Explore Data

In [3]:
# print head of each table
Content.head(5)

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [4]:
print(Content.Type.unique())
print(Content.Category.unique())

['photo' 'video' 'GIF' 'audio']
['Studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'studying' 'veganism' 'Animals' 'animals' 'culture' '"culture"' 'Fitness'
 '"studying"' 'Veganism' '"animals"' 'Travel' '"soccer"' 'Education'
 '"dogs"' 'Technology' 'Soccer' '"tennis"' 'Culture' '"food"' 'Food'
 '"technology"' 'Healthy Eating' '"cooking"' 'Science' '"public speaking"'
 '"veganism"' 'Public Speaking' '"science"']

In [5]:
Content.info()
Content.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   User ID     1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 46.9+ KB

Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [6]:
Location.head(5)

,User ID,Address
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"6208 Wright Mountains\nBryantfurt, AR 02531"
1,95258c36-5b6b-4591-85ee-0c43f503c1d5,"534 Williams Turnpike Suite 788\nPort Julie, W..."
2,a8229d24-f219-4930-a382-24049a8f73bb,"867 Lisa Causeway Apt. 015\nWest Brentmouth, A..."
3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"5687 Wilson Harbors Suite 763\nLake Robert, FL..."
4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,Unit 2614 Box 8996\nDPO AE 23660

In [7]:
Location.info()
Location.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   User ID  500 non-null    object
 1   Address  500 non-null    object
dtypes: object(2)
memory usage: 11.7+ KB

User ID    0
Address    0
dtype: int64

In [8]:
Profile.head(5)

,User ID,Interests,Age
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41
1,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23
2,a8229d24-f219-4930-a382-24049a8f73bb,"['fitness', 'cooking', 'animals', 'travel']",25
3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"['technology', 'culture', 'veganism']",2
4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,['education'],44

In [9]:
print(Profile.Interests.unique())

['[0, 1]' "['tennis']" "['fitness', 'cooking', 'animals', 'travel']"
 "['technology', 'culture', 'veganism']" "['education']"
 "['culture', 'healthy eating']" "['cooking', 'technology', 'fitness']"
 "['food', 'culture']"
 "['public speaking', 'science', 'veganism', 'tennis']" "['animals']"
 "['veganism', 'science', 'education']" "['studying', 'fitness']"
 "['travel', 'veganism', 'food']"
 "['healthy eating', 'public speaking', 'soccer']"
 "['tennis', 'cooking', 'science']"
 "['healthy eating', 'food', 'soccer', 'healthy eating']"
 "['education', 'culture', 'food']"
 "['food', 'healthy eating', 'culture', 'education']"
 "['studying', 'public speaking', 'soccer', 'food']"
 "['culture', 'public speaking']" "['cooking', 'animals']"
 "['soccer', 'studying', 'science']" "['education', 'technology']"
 "['animals', 'travel', 'science', 'studying']" "['veganism']"
 "['public speaking', 'education', 'culture', 'science']"
 "['soccer', 'animals']" "['studying', 'studying']"
 "['education', 'food']" "['science', 'studying', 'culture', 'culture']"
 "['dogs', 'studying', 'public speaking']" "['studying', 'tennis']"
 "['education', 'studying', 'education', 'culture']"
 "['healthy eating', 'dogs', 'science', 'soccer']"
 "['food', 'soccer', 'public speaking', 'public speaking']"
 "['animals', 'culture']" "['soccer']" "['fitness']"
 "['animals', 'dogs', 'travel']"
 "['tennis', 'travel', 'science', 'education']"
 "['food', 'animals', 'science', 'soccer']"
 "['healthy eating', 'healthy eating']" "['dogs']"
 "['soccer', 'culture', 'tennis', 'culture']" "['food', 'animals']"
 "['science']" "['healthy eating', 'cooking']"
 "['food', 'soccer', 'healthy eating']" "['food', 'tennis']"
 "['travel', 'tennis']" "['travel']" "['cooking', 'travel', 'animals']"
 "['public speaking']"
 "['studying', 'public speaking', 'travel', 'studying']" '[0, 1, 2, 3]'
 "['public speaking', 'technology', 'science']" "['cooking']"
 "['science', 'education']" "['food']" "['veganism', 'science']"
 "['healthy eating', 'healthy eating', 'food']"
 "['animals', 'fitness', 'fitness']"
 "['studying', 'science', 'veganism', 'public speaking']"
 "['fitness', 'fitness']"
 "['soccer', 'science', 'healthy eating', 'healthy eating']"
 "['animals', 'animals', 'dogs']"
 "['cooking', 'culture', 'studying', 'tennis']"
 "['healthy eating', 'public speaking']" "['studying', 'science']"
 "['technology']" "['fitness', 'technology', 'veganism']"
 "['dogs', 'soccer']" "['travel', 'food', 'technology', 'culture']"
 "['animals', 'travel', 'travel']" "['tennis', 'fitness']"
 "['tennis', 'healthy eating', 'cooking', 'tennis']"
 "['cooking', 'technology', 'public speaking', 'tennis']"
 "['cooking', 'technology', 'food']"
 "['healthy eating', 'public speaking', 'food']" "['studying']"
 "['soccer', 'veganism']" "['veganism', 'studying']"
 "['studying', 'healthy eating']" "['cooking', 'veganism', 'tennis']"
 "['veganism', 'cooking', 'food', 'science']"
 "['travel', 'food', 'healthy eating']"
 "['soccer', 'fitness', 'healthy eating', 'veganism']"
 "['science', 'cooking', 'travel']"
 "['travel', 'veganism', 'healthy eating']"
 "['culture', 'studying', 'education']"
 "['technology', 'dogs', 'tennis', 'animals']"
 "['science', 'education', 'tennis', 'science']"
 "['food', 'tennis', 'cooking', 'travel']"
 "['fitness', 'food', 'technology', 'studying']"
 "['travel', 'dogs', 'travel']"
 "['veganism', 'education', 'science', 'food']"
 "['fitness', 'cooking', 'healthy eating', 'soccer']"
 "['technology', 'education', 'soccer']"
 "['healthy eating', 'healthy eating', 'soccer']" "['dogs', 'education']"
 "['education', 'healthy eating', 'soccer', 'veganism']"
 "['fitness', 'technology', 'healthy eating', 'education']"
 "['healthy eating', 'veganism', 'animals']"
 "['food', 'public speaking', 'cooking', 'fitness']"
 "['studying', 'culture', 'travel', 'public speaking']"
 "['culture', 'public speaking', 'technology']"
 "['dogs', 'dogs', 'cooking', 'soccer']"
 "['public speaking', 'science', 'culture', 'culture']"
 "['public speaking', 'fitness']" "['education', 'dogs']"
 "['public speaking', 'veganism']" "['culture', 'soccer', 'culture']"
 "['cooking', 'education', 'food', 'travel']"
 "['travel', 'veganism', 'food', 'cooking']" "['food', 'studying']"
 "['tennis', 'science', 'soccer', 'culture']"
 "['soccer', 'culture', 'animals', 'soccer']"
 "['dogs', 'public speaking', 'culture', 'veganism']"
 "['tennis', 'fitness', 'healthy eating', 'animals']"
 "['tennis', 'culture', 'technology', 'science']"
 "['science', 'public speaking', 'animals']"
 "['soccer', 'public speaking']" "['dogs', 'studying']"
 "['fitness', 'animals', 'cooking', 'dogs']"
 "['culture', 'healthy eating', 'studying', 'soccer']"
 "['soccer', 'travel']" "['culture']"
 "['animals', 'cooking', 'food', 'food']" "['animals', 'animals', 'food']"
 "['education', 'culture', 'public speaking']"
 "['dogs', 'public speaking', 'studying', 'food']"
 "['healthy eating', 'technology', 'science', 'education']"
 "['science', 'fitness', 'cooking']" "['cooking', 'culture']"
 "['veganism', 'tennis', 'cooking']" "['food', 'dogs', 'studying']"
 "['science', 'education', 'veganism']" "['animals', 'fitness']"
 "['culture', 'education']" "['tennis', 'cooking', 'fitness', 'food']"
 "['public speaking', 'cooking', 'science']" "['soccer', 'science']"
 "['studying', 'public speaking']" "['education', 'studying']"
 "['soccer', 'dogs', 'public speaking']"
 "['fitness', 'science', 'animals']"
 "['soccer', 'cooking', 'cooking', 'healthy eating']"
 "['dogs', 'fitness']"
 "['studying', 'public speaking', 'animals', 'education']"
 "['science', 'education', 'animals']"
 "['technology', 'veganism', 'cooking', 'dogs']"
 "['public speaking', 'healthy eating', 'healthy eating']"
 "['travel', 'public speaking', 'animals', 'science']"
 "['healthy eating', 'veganism']" "['travel', 'studying']"
 "['education', 'culture']" "['travel', 'healthy eating']"
 "['fitness', 'fitness', 'veganism']"
 "['veganism', 'public speaking', 'technology', 'studying']"
 "['public speaking', 'studying']"
 "['studying', 'tennis', 'veganism', 'technology']"
 "['food', 'tennis', 'tennis']" "['studying', 'food', 'travel']"
 "['food', 'public speaking']" "['soccer', 'soccer', 'soccer']"
 "['cooking', 'dogs', 'public speaking', 'culture']"
 "['animals', 'technology', 'technology', 'soccer']"
 "['culture', 'soccer', 'fitness']"
 "['education', 'travel', 'animals', 'education']"
 "['dogs', 'veganism', 'soccer', 'travel']"
 "['cooking', 'fitness', 'technology']" "['healthy eating']"
 "['soccer', 'travel', 'technology']"
 "['food', 'healthy eating', 'studying', 'public speaking']"
 "['cooking', 'tennis']" "['public speaking', 'food', 'cooking']"
 "['healthy eating', 'public speaking', 'science', 'education']"
 "['animals', 'veganism']" "['public speaking', 'animals', 'tennis']"
 "['culture', 'fitness', 'cooking', 'science']"
 "['animals', 'food', 'healthy eating']"
 "['culture', 'culture', 'culture', 'animals']"
 "['public speaking', 'healthy eating', 'technology', 'public speaking']"
 "['travel', 'cooking']" "['veganism', 'education', 'soccer']"
 "['soccer', 'studying', 'soccer']" "['tennis', 'studying']"
 "['technology', 'public speaking', 'cooking']"
 "['education', 'culture', 'healthy eating']"
 "['fitness', 'veganism', 'dogs', 'fitness']"
 "['education', 'science', 'science', 'education']"
 "['healthy eating', 'fitness', 'tennis']" '[0, 1, 2]'
 "['healthy eating', 'technology', 'healthy eating']"
 "['soccer', 'fitness', 'public speaking', 'education']"
 "['public speaking', 'science', 'food', 'veganism']"
 "['tennis', 'animals']" "['food', 'tennis', 'animals']"
 "['soccer', 'food', 'healthy eating', 'travel']"
 "['culture', 'veganism']" "['dogs', 'technology']"
 "['animals', 'education', 'tennis']" "['soccer', 'food', 'soccer']"
 "['culture', 'food', 'culture']"
 "['technology', 'studying', 'veganism', 'soccer']"
 "['healthy eating', 'cooking', 'culture']" "['education', 'tennis']"
 "['veganism', 'dogs', 'dogs', 'food']"
 "['public speaking', 'healthy eating']" "['fitness', 'animals']"
 "['education', 'dogs', 'education', 'soccer']"
 "['travel', 'tennis', 'tennis', 'culture']"
 "['public speaking', 'travel', 'education']"
 "['public speaking', 'culture', 'technology']"
 "['public speaking', 'studying', 'public speaking']"
 "['tennis', 'food', 'technology', 'studying']"
 "['fitness', 'cooking', 'science']"
 "['fitness', 'education', 'culture', 'soccer']"
 "['science', 'food', 'culture', 'healthy eating']"
 "['dogs', 'education', 'culture', 'veganism']"
 "['animals', 'healthy eating', 'culture', 'culture']"
 "['soccer', 'culture']"
 "['food', 'public speaking', 'public speaking', 'animals']"
 "['public speaking', 'education', 'veganism', 'animals']"
 "['veganism', 'veganism', 'veganism']"
 "['public speaking', 'dogs', 'cooking']"
 "['public speaking', 'travel', 'animals']"
 "['studying', 'technology', 'soccer']"
 "['animals', 'public speaking', 'veganism']"
 "['tennis', 'technology', 'healthy eating', 'education']"
 "['tennis', 'science', 'technology']"
 "['tennis', 'travel', 'technology', 'tennis']"
 "['culture', 'tennis', 'veganism', 'fitness']"
 "['cooking', 'tennis', 'cooking']" "['veganism', 'fitness', 'travel']"
 "['cooking', 'tennis', 'soccer', 'healthy eating']"
 "['animals', 'culture', 'healthy eating', 'soccer']"
 "['science', 'science']" "['dogs', 'dogs', 'public speaking']"
 "['food', 'soccer']" "['dogs', 'science', 'animals', 'cooking']"
 "['technology', 'public speaking']"
 "['fitness', 'dogs', 'dogs', 'veganism']" "['veganism', 'tennis']"
 "['education', 'veganism', 'animals']"
 "['food', 'studying', 'tennis', 'public speaking']"
 "['tennis', 'tennis']" "['animals', 'food', 'technology', 'animals']"
 "['food', 'healthy eating', 'soccer', 'technology']"
 "['animals', 'travel', 'education', 'science']" "['soccer', 'cooking']"
 "['science', 'science', 'science']" "['science', 'dogs', 'travel']"
 "['science', 'dogs', 'public speaking']"
 "['studying', 'cooking', 'tennis']"
 "['veganism', 'healthy eating', 'science']"
 "['education', 'technology', 'fitness', 'cooking']"
 "['animals', 'healthy eating', 'travel']"
 "['education', 'travel', 'tennis']" "['cooking', 'soccer']"
 "['dogs', 'travel']" "['veganism', 'veganism', 'culture']"
 "['fitness', 'public speaking', 'culture', 'science']"
 "['tennis', 'soccer', 'animals', 'tennis']"
 "['travel', 'soccer', 'public speaking', 'science']"
 "['food', 'technology', 'cooking']" "['food', 'food']"
 "['healthy eating', 'science', 'public speaking', 'veganism']"
 "['dogs', 'public speaking', 'fitness']" "['food', 'fitness', 'dogs']"
 "['food', 'science', 'animals']"
 "['healthy eating', 'culture', 'fitness']"
 "['travel', 'fitness', 'healthy eating', 'public speaking']"
 "['culture', 'fitness', 'food', 'veganism']"
 "['technology', 'food', 'dogs', 'soccer']" "['studying', 'soccer']"
 "['culture', 'cooking', 'technology', 'travel']"
 "['travel', 'food', 'culture']" "['veganism', 'travel']"
 "['veganism', 'technology']" "['tennis', 'food', 'dogs']"
 "['soccer', 'studying', 'food', 'tennis']"
 "['healthy eating', 'culture']"
 "['healthy eating', 'science', 'public speaking']"
 "['cooking', 'education', 'fitness', 'soccer']" "['dogs', 'food']"
 "['education', 'soccer', 'travel', 'dogs']"
 "['cooking', 'soccer', 'animals']"
 "['science', 'dogs', 'tennis', 'science']" "['food', 'fitness']"
 "['dogs', 'cooking', 'fitness']"
 "['food', 'cooking', 'technology', 'science']"
 "['dogs', 'public speaking', 'animals', 'soccer']"
 "['cooking', 'cooking', 'cooking']" "['food', 'travel']"
 "['cooking', 'education']" "['cooking', 'healthy eating', 'soccer']"
 "['dogs', 'education', 'dogs']" "['dogs', 'culture']"
 "['animals', 'public speaking']"
 "['soccer', 'healthy eating', 'veganism']"
 "['soccer', 'animals', 'soccer']"
 "['education', 'fitness', 'dogs', 'healthy eating']"
 "['fitness', 'culture', 'cooking', 'studying']"
 "['food', 'technology', 'food', 'education']"
 "['dogs', 'science', 'animals', 'studying']"
 "['food', 'veganism', 'soccer', 'travel']"
 "['science', 'technology', 'cooking']" "['education', 'tennis', 'food']"
 "['soccer', 'cooking', 'studying', 'public speaking']"
 "['public speaking', 'tennis']" "['technology', 'tennis', 'soccer']"
 "['education', 'healthy eating', 'studying', 'veganism']"
 "['animals', 'dogs']" "['soccer', 'soccer']"
 "['veganism', 'travel', 'cooking', 'food']"
 "['cooking', 'animals', 'studying', 'fitness']"
 "['science', 'animals', 'animals', 'food']" "['technology', 'food']"
 "['animals', 'education', 'healthy eating', 'travel']"
 "['culture', 'science', 'healthy eating', 'fitness']"
 "['culture', 'travel']" "['dogs', 'tennis', 'education', 'fitness']"
 "['science', 'healthy eating', 'healthy eating']"
 "['culture', 'science', 'healthy eating']"
 "['studying', 'technology', 'culture']"
 "['animals', 'studying', 'dogs', 'animals']" "['cooking', 'science']"
 "['cooking', 'culture', 'fitness', 'cooking']"
 "['travel', 'tennis', 'studying']"
 "['cooking', 'animals', 'studying', 'public speaking']"
 "['technology', 'travel', 'dogs', 'fitness']"
 "['animals', 'fitness', 'travel', 'culture']"
 "['healthy eating', 'fitness']"
 "['healthy eating', 'technology', 'public speaking']"
 "['soccer', 'education', 'veganism']" "['technology', 'animals']"
 "['dogs', 'travel', 'technology']"
 "['healthy eating', 'culture', 'fitness', 'public speaking']"
 "['science', 'public speaking', 'veganism']" "['veganism', 'veganism']"
 "['tennis', 'science', 'tennis', 'science']" "['cooking', 'studying']"
 "['animals', 'science', 'education', 'animals']"
 "['culture', 'science', 'science']"
 "['food', 'veganism', 'veganism', 'education']"
 "['dogs', 'soccer', 'dogs', 'veganism']"
 "['travel', 'animals', 'education']" "['dogs', 'veganism', 'culture']"
 "['studying', 'cooking', 'animals']"
 "['fitness', 'veganism', 'public speaking', 'technology']"
 "['soccer', 'animals', 'healthy eating']"
 "['cooking', 'science', 'studying', 'culture']" '[0]'
 "['science', 'technology', 'technology', 'education']"
 "['studying', 'healthy eating', 'fitness', 'culture']"
 "['cooking', 'travel']" "['culture', 'animals', 'food']"
 "['tennis', 'healthy eating', 'food']" "['animals', 'science']"
 "['technology', 'fitness']" "['food', 'healthy eating']"
 "['tennis', 'veganism', 'education', 'soccer']"
 "['healthy eating', 'travel']" "['public speaking', 'dogs']"
 "['education', 'science', 'animals', 'public speaking']"]

In [10]:
print(Profile.Age.unique())

[41 23 25  2 44 28  4 30  8 32 34 42 19 21 14 29 39 38  7  3  9 16 40  5
 35 36 26 33 20 11 18  0 24 10 15 17  6 43  1 22 27 31 37 13 12]

In [11]:
Profile.info()
Profile.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   User ID    500 non-null    object
 1   Interests  500 non-null    object
 2   Age        500 non-null    int64
dtypes: int64(1), object(2)
memory usage: 15.6+ KB

User ID      0
Interests    0
Age          0
dtype: int64

In [12]:
ReactionTypes.head(5)

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [13]:
print(ReactionTypes.Type.unique())

['heart' 'want' 'disgust' 'hate' 'interested' 'indifferent' 'love'
 'super love' 'cherish' 'adore' 'like' 'dislike' 'intrigued' 'peeking'
 'scared' 'worried']

In [14]:
print(ReactionTypes.Sentiment.unique())

['positive' 'negative' 'neutral']

In [15]:
ReactionTypes.info()
ReactionTypes.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

Type         0
Sentiment    0
Score        0
dtype: int64

In [16]:
Reactions.head(5)

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [17]:
print(Reactions.Type.unique())

[nan 'disgust' 'dislike' 'scared' 'interested' 'peeking' 'cherish' 'hate'
 'love' 'indifferent' 'super love' 'intrigued' 'worried' 'like' 'heart'
 'want' 'adore']

In [18]:
Reactions.Type.value_counts()

heart          1622
scared         1572
peeking        1559
hate           1552
interested     1549
dislike        1548
adore          1548
want           1539
love           1534
disgust        1526
like           1520
super love     1519
indifferent    1512
cherish        1501
worried        1497
intrigued      1475
Name: Type, dtype: int64

In [19]:
Reactions[Reactions['User ID']==0]
# Reactions[Reactions.Datetime.dt.year < 2010]
# Reactions[Reactions.Datetime.dt.year > 2022]

Empty DataFrame
Columns: [Content ID, User ID, Type, Datetime]
Index: []

In [20]:
Reactions.info()
Reactions.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25553 entries, 0 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   User ID     22534 non-null  object
 2   Type        24573 non-null  object
 3   Datetime    25553 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 998.2+ KB

Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [21]:
Session.head(5)

                                User ID     Device  Duration
0  4c731e48-0377-4d7d-b4c8-b2174b774ed8  Microsoft        11
1  95258c36-5b6b-4591-85ee-0c43f503c1d5      Apple        51
2  a8229d24-f219-4930-a382-24049a8f73bb        HTC        25
3  8f41c07f-db4f-44f3-ae81-1f99cee047eb   Motorola        68
4  3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9     Huawei        57

In [22]:
print(Session[Session.Duration == 0])

                                  User ID     Device  Duration
154  0c9ea4da-c609-4b08-ab44-1da0530ba364     Google         0
205  392bf6a1-dd73-48a5-9fd9-431749f2a8ef   Motorola         0
208  d81dc9d9-a614-40f1-9dd4-7a4a05bac243   Motorola         0
221  9be473d9-cfdf-4954-bae2-09b0555a8ebb        HTC         0
345  92423e9a-4e8c-49bc-be75-c819912696ce  Microsoft         0
373  ddc4db8e-0000-48c4-8fdb-d32af87fb823      Apple         0

In [23]:
Session.Device.value_counts()

Motorola     77
Microsoft    77
Huawei       74
HTC          72
Apple        68
Samsung      65
Google       61
thbhn         1
qxugb         1
ouafw         1
dcppv         1
sbnnz         1
xtzqw         1
Name: Device, dtype: int64

In [24]:
Session.info()
Session.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User ID   500 non-null    object
 1   Device    500 non-null    object
 2   Duration  500 non-null    int64
dtypes: int64(1), object(2)
memory usage: 15.6+ KB

User ID     0
Device      0
Duration    0
dtype: int64

In [25]:
User.head(5)

                                User ID             Name         Email
0  4c731e48-0377-4d7d-b4c8-b2174b774ed8        Gary Hill  GHbnuothhymw
1  95258c36-5b6b-4591-85ee-0c43f503c1d5  Michael Deering  MD@gmail.com
2  a8229d24-f219-4930-a382-24049a8f73bb     Richard Bain  RB@gmail.com
3  8f41c07f-db4f-44f3-ae81-1f99cee047eb  Kristi Mccarthy  KM@gmail.com
4  3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9      Betty Ellis  BE@gmail.com

In [26]:
User.info()
User.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   User ID  500 non-null    object
 1   Name     500 non-null    object
 2   Email    500 non-null    object
dtypes: object(3)
memory usage: 15.6+ KB

User ID    0
Name       0
Email      0
dtype: int64

# Data Cleaning

In [27]:
# Content Table: remove the 'URL' Column since it is not needed for data analysis
Content.drop('URL', axis='columns', inplace=True)

In [28]:
Content.Category.value_counts()

technology           71
travel               67
animals              67
culture              63
science              63
food                 61
fitness              61
healthy eating       61
cooking              60
tennis               58
soccer               58
education            57
dogs                 56
studying             55
public speaking      48
veganism             48
Fitness               5
Animals               4
Science               4
"soccer"              3
"culture"             3
Soccer                3
"dogs"                2
Studying              2
Education             2
Travel                2
Food                  2
Healthy Eating        1
"tennis"              1
"food"                1
Public Speaking       1
"public speaking"     1
Technology            1
"studying"            1
"animals"             1
Culture               1
"veganism"            1
"technology"          1
Veganism              1
"science"             1
"cooking"             1
Name: Category, dtype: int64

In [29]:
# Content Table: Remove " and lowercase all values in "Category"
Content.Category = Content.Category.str.strip('"').str.strip().str.lower()
Content.Category.value_counts()

technology         73
animals            72
travel             69
science            68
culture            67
fitness            66
soccer             64
food               64
healthy eating     62
cooking            61
tennis             59
education          59
studying           58
dogs               58
public speaking    50
veganism           50
Name: Category, dtype: int64

In [30]:
# Reactions Table: drop all records with null value
Reactions.dropna(inplace=True)

In [31]:
# User Table: drop records with invaild email
import re 
regex_patern = r'([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+'
User = User[User.Email.str.match(regex_patern) == True]
User.head()

                                User ID             Name         Email
1  95258c36-5b6b-4591-85ee-0c43f503c1d5  Michael Deering  MD@gmail.com
2  a8229d24-f219-4930-a382-24049a8f73bb     Richard Bain  RB@gmail.com
3  8f41c07f-db4f-44f3-ae81-1f99cee047eb  Kristi Mccarthy  KM@gmail.com
4  3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9      Betty Ellis  BE@gmail.com
5  2bd9c167-e06c-47c1-a978-3403d6724606    Hazel Neville  HN@gmail.com

In [32]:
# Session Table: drop records with invalid 'Device' name
l = ["sbnnz", "thbhn", "ouafw", "dcppv", "xtzqw","qxugb"]
Session =  Session[~Session.Device.isin(l)]
Session.Device.value_counts()

Motorola     77
Microsoft    77
Huawei       74
HTC          72
Apple        68
Samsung      65
Google       61
Name: Device, dtype: int64

In [33]:
# Session Table: drop records with Duration = 0
Session = Session[Session.Duration != 0]

# Save Cleaned Data

In [34]:
Content.to_csv('Content_Cleaned.csv', index=False)

# Data Modeling

Client wanted to know **"An analysis of their content categories showing the top 5 categories with the largest aggregate popularity"**

To find the categories with the greatest popularity, we need to sum up which content categories have the largest aggregated Score.

Thus the dataset should combined the following tables:
1) Content
2) Reaction
3) ReactionTypes

**JOIN Tables**

In [37]:
join_1 = Reactions.merge(Content, on='Content ID', suffixes=("_Reactions","_Content"))

In [38]:
join_1.head(5)

,Content ID,User ID_Reactions,Type_Reactions,Datetime,User ID_Content,Type_Content,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying

In [40]:
join_2 = join_1.merge(ReactionTypes, left_on='Type_Reactions', right_on='Type', suffixes=("_Reactions","_ReactionTypes"))

In [41]:
join_2.head(5)

,Content ID,User ID_Reactions,Type_Reactions,Datetime,User ID_Content,Type_Content,Category,Type,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,disgust,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,disgust,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,13c06e7e-833d-47eb-a790-5e09ccfd8d2c,disgust,2021-04-09 02:46:20,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,disgust,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,8b49caad-bcc5-43de-bf40-34a66ff8805c,disgust,2021-03-28 21:15:26,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,disgust,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,ef147ea5-9696-44d5-b6c2-a43f62fd8ce2,disgust,2020-08-04 05:40:33,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,disgust,negative,0

In [43]:
join_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 0 to 22533
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Content ID         22534 non-null  object
 1   User ID_Reactions  22534 non-null  object
 2   Type_Reactions     22534 non-null  object
 3   Datetime           22534 non-null  datetime64[ns]
 4   User ID_Content    22534 non-null  object
 5   Type_Content       22534 non-null  object
 6   Category           22534 non-null  object
 7   Type               22534 non-null  object
 8   Sentiment          22534 non-null  object
 9   Score              22534 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 1.9+ MB

# Save Final Dataset to CVS

In [44]:
join_2.to_csv('FinalDataSet.csv', index=False)

In [46]:
print(join_2.Category.unique())

['studying' 'healthy eating' 'dogs' 'public speaking' 'science' 'tennis'
 'food' 'fitness' 'soccer' 'education' 'travel' 'veganism' 'cooking'
 'technology' 'animals' 'culture']

In [47]:
join_2.Category.value_counts()

animals            1738
science            1646
healthy eating     1572
technology         1557
food               1556
culture            1538
cooking            1525
travel             1510
soccer             1339
education          1311
fitness            1284
studying           1251
dogs               1227
tennis             1218
veganism           1146
public speaking    1116
Name: Category, dtype: int64

**Group by 'Category' and sum up the Score for each Category**

**Show the top 5 records**

In [60]:
Top5_Category = join_2.groupby(['Category']).sum().nlargest(n=5,columns=['Score'])
Top5_Category

                Score
Category
animals         68624
science         65405
healthy eating  63138
technology      63035
food            61598

In [61]:
Top5_Category.to_csv('Top5_Category.csv', index=True)